<navbar></navbar>

<div class="flex-column margin-top-7">
  <div class="flex-space-around top-buttons-width">
    <a
      href="/private/updateArticle/{{ article._id }}"
      type="button"
      class="btn btn-primary"
      >Update
    </a>
    <a
      href="/private/deleteArticle/{{ article._id }}"
      type="button"
      class="btn btn-danger"
      >Delete
    </a>
  </div>

  <h3 *ngIf="loading" class="margin-top-5">Loading</h3>

  <div *ngIf="!loading" class="margin-top-3 margin-bottom-7 border-black-2">
    <div class="flex-center border-black-1 title-padding max-width-35">
      {{ article.title }}
    </div>
    <div class="border-black-1 title-padding max-width-35 line-break">
      {{ article.content }}
    </div>
  </div>
</div>
