<navbar></navbar>

<div class="flex-column margin-top-5">
  <h2>New article</h2>

  <form [formGroup]="form" (ngSubmit)="submit($event)" class="margin-top-2">
    <div class="flex-column">
      <label for="title">Title:</label>
      <input
        type="text"
        formControlName="title"
        class="margin-top-1 input-mobile-width"
      />
    </div>
    <div class="flex-column margin-top-2">
      <label for="content">Content:</label>
      <textarea
        rows="4"
        cols="50"
        type="text"
        formControlName="content"
        class="margin-top-1 textarea-mobile-width"
      >
      </textarea>
    </div>
    <div class="flex-center">
      <input
        type="submit"
        value="Create"
        [disabled]="this.form.invalid"
        class="btn btn-primary margin-top-2"
      />
    </div>
    <div *ngIf="validationError" class="margin-top-1">
      <p class="text-danger bold-font">Fill the fields properly</p>
    </div>
  </form>
</div>
